<!DOCTYPE html>
<html ng-app="railsAngular">
<head>
	<title>UserAgent</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid top10" >
		<%= link_to "Home", root_url, class: "btn btn-primary", role: "button" %>
		<div ng-view>
			<%= yield %>
		</div>
	</div>
</body>
</html>
